.character {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 2em;
  margin: 2em auto;
}

.character__title {
  font-size: 2em;
  font-family: Condensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
  color: #d4e0ff;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}