.notification {
  width: 100%;
  padding: 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification__message {
  font-size: 2em;
  font-family: Condensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.notification__message--info {
  color: #d4e0ff;
}

.notification__message--danger {
  color: rgb(165, 0, 0);
}

